#button-file {
    text-align: center;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

div#content-load {
    width: 60%;
    margin-top: 5%;
    color: #fff;
}

div.card {
    background: rgba(34, 61, 68, 0.75) !important;
    border-radius: 30px;
}

.preloader-background {
    text-align: center;
}

.preloader-wrapper.big {
    height: 100px;
    width: 100px;
    margin-top: 5%;
}

#h5 {
    background-color: transparent;
}

#delete {
    position: relative;
    top: 30px;
}

.circle {
    border-width: 5px !important;
}