/*===CSS contactt===*/

div.form-contact {
    background: rgba(34, 61, 68, 0.75);
    width: 80% !important;
    margin: auto;
    margin-top: 5%;
    border-radius: 30px;
}

div.row .input-field {
    margin: 0;
    padding: 0;
}

label#label-contact {
    color: #FFF;
}

.input-field.col label {
    left: 0;
}

textarea {
    height: 200px;
    resize: none;
    border: 1px solid grey;
    background: rgba(66, 120, 133, 0.75);
    border-radius: 10px;
}