div#form-create {
    width: 50%;
    color: #ececec;
}

form#create-card {
    padding: 2% 10%;
    margin-top: 5%;
    background: rgba(34, 61, 68, 0.8);
    border-radius: 40px;
}

div#label-card {
    width: 60%;
    margin: auto;
}

fieldset#fieldcreate {
    border: none;
    text-align: center;
}

fieldset#fieldcreate legend {
    font-size: 24px;
}

fieldset#fieldcreate label {
    color: #ececec;
    font-size: 16px;
}

fieldset#fieldcreate input {
    text-align: center;
}

fieldset#fieldcreate input::placeholder {
    color: rgb(161, 161, 161);
    text-align: center;
}

div#src {
    height: 160px;
}

div#locaCard {
    width: 35%;
    margin: auto;
}

button.btn-rand {
    background: rgb(44, 85, 95);
    border: none;
    color: #ececec;
    height: 30px;
    width: 130px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.5s;
}

input[type="file"] {
    color: #ececec;
}

button.btn-rand:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 5px #000;
}

#locaCard ul {
    background: rgba(10, 24, 40);
}