html {
    height: 100%;
    background-image: url(./img/FF8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: cadetblue;
    font-family: Arial, sans-serif;
}

header {
    margin-bottom: 0%;
}

#menuDroite {
    margin-right: 0px;
}

@media only screen and (min-width: 993px) {
    .container {
        width: 85%;
    }
}

#dropdown1 {
    top: -64px;
    background: rgba(10, 24, 40);
}

#dropdown1 li:hover {
    background: rgb(21, 42, 53);
}