html {
  background-image: url(./img/ff8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'finalf', Arial, sans-serif;
}

@font-face {
  font-family: 'finalf';
  src: url('final_fantasy.finalf.eot');
  /* IE9 Compat Modes */
  src: url('final_fantasy.finalf.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('final_fantasy.finalf.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('final_fantasy.finalf.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('final_fantasy.finalf.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('final_fantasy.finalf.svg#svgfinalf') format('svg');
  /* Legacy iOS */
}

.preloader-background{
  height: 90vh;
  text-align: center;
  opacity: 0.8;
  background-color : white;
  padding-top: 10%;
}



.btn{
  height: auto;
}

#delete {
  position: relative;
  top: 30px;
}

#boutonSon {
  right: 0px;
  top: 65px;
  position: fixed;
}

header {
  margin-bottom: 50%;
}

#menuIcon {
  position: fixed;
  right: 53px;
  top: 65px;
}

#form {
  /*  opacity: 1;
  width: 50%;
  margin-left:25%;
  margin-top:2%;*/
}

fieldset {
  z-index: 2;
  color: white;
  border: none;
}

#backform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: transparent;
  width: 50%;
}

div.input-field label {
  color: black !important;
  font-weight: bold;
}

legend {
  color: black;
}

div#bckgrnd {
  z-index: 0;
  position: absolute;
  width: 55%;
  height: 280px;
  text-align: center;
  background-color: #3c6b77;
  opacity: 0.4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 35px;
}

div#log-mdp {
  margin-top: 0;
  margin-bottom: 0;
}

#backform label {
  display: block;
  text-align: center;
}

div#btn-co {
  height: 60px;
}

div#bckgrndins {
  z-index: 0;
  position: absolute;
  width: 55%;
  height: 650px;
  text-align: center;
  background-color: #3c6b77;
  opacity: 0.4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 80px;
}

article div.card-panel {
  height: 50vh;
  margin-top: 5%;
  text-align: center;
}

legend {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

h5 {
  text-align: center;
  background-color: white;
  transition-property: width, height;
}

.afficheh5 {
  width: 100%;
  height: 100%;
}

a {
  transition-property: background-color;
}

#menuIcon a, #boutonSon a {
  background-color: #223d44;
}

#menuIcon a:hover, #boutonSon a:hover, #nav li a:hover {
  background-color: rgba(72, 131, 146, 1);
}

#menu {
  position: fixed;
  width: 0%;
  visibility: hidden;
  height: 0%;
  opacity: 0;
  top: 0%;
  margin-left: 12.5%;
  text-align: center;
  background-color: #223d44;
  transition-property: opacity, top;
}

img {
  transition-property: width, margin-left;
  transition-duration: 0.5s;
  margin-left: 0px;
}

#menu.ma-transition {
  top: 10%;
  width: 75%;
  visibility: visible;
  height: 75%;
  opacity: 1;
}

#vide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  height: 30vh;
  width: 35vw;
  background-image: radial-gradient(circle, #488392, #223d44);
}

.partiefini {
  position: absolute;
  height: 30vh;
  width: 35vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 15px;
}

#fingame {
  position: absolute;
  height: 30vh;
  width: 35vw;
  text-align: center;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  width: 100px;
  height: 100px;
  margin-right: 0;
}

div {
  height: 104px;
}

nav, nav.brand-logo, #nav {
  background-color: rgba(34, 61, 68, 0.4);
}

header {
  margin-bottom: 0%;
}

/*Formulaire*/
.jeu {
  display: none;
}

.formulaire, .form, .formdiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

/* label color */
.input-field label {
  color: #000 !important;
}

/*underline color focus */
input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #1f897f;
  box-shadow: 0 1px 0 0 #1f897f;
}

/* label color focus */
input[type=text]:not(.browser-default):focus:not([readonly])+label {
  color: #1f897f;
}

.input-field>label:not(.label-icon).active {
  transform: translateY(-14px) scale(0.8);
  transform-origin: 0 0;
}

.waves-effect.ff8:hover {
  background-color: #65a4b3;
}

.waves-effect.ff8 {
  /* The alpha value allows the text and background color
 of the button to still show through. */
  background-color: rgba(72, 131, 146, 1);
}
