#place1 {
    background-color: gold;
}

#place2 {
    background-color: silver;
}

#place3 {
    background-color: sienna;
}

h3 {
    margin-top: 5px;
}

.contain {
    padding: 2px;
    display: flex;
    width: 40%;
    margin: auto;
}

.name {
    flex-grow: 1;
    padding-left: 10%;
}

p {
    margin: auto;
}

.card-panel {
    width: 70%;
    height: 100%;
    margin: 5% auto;
    background-color: rgba(72, 131, 146, 0.5);
}

.logged {
    border: solid 2px;
}

.buttons {
    display: flex;
    margin: 0 auto;
    width: 50%;
    height: 50px;
}

.buttons a {
    margin: auto;
    color: #fff;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    background: rgba(34, 61, 68, 0.75);
}

.buttons a.active {
    background: rgba(37, 68, 34, 0.75);
    color: white;
    border: 1px solid #4CAF50;
}