#place1 {
    background: rgba(255, 223, 0, 0.8);
}

#place2 {
    background: rgb(170, 167, 159, 0.8);
}

#place3 {
    background: rgba(170, 118, 71, 0.8);
}

h3 {
    margin-top: 5px;
}

#titre {
    height:100%;
}

#titre-leaderboard {
    flex-grow:1;
    padding-left:3%;
}

.contain {
    padding: 5px 15px;
    display: flex;
    width: 42%;
    margin: 5px auto;
    background: rgba(120, 164, 176, 0.3);
}

#leadboard .contain:nth-child(n+4) {
    color: #fff;
} 

.name {
    flex-grow: 1;
    padding-left: 10%;
}

p {
    margin: auto;
}

.card-panel {
    width: 70%;
    height: 100%;
    margin: 5% auto;
    background: rgba(34, 61, 68, 0.6);
    border-radius: 30px;
}

.logged {
    border: solid 3px #e3e3e3  ;
}

.buttons {
    display: flex;
    margin: 0 auto;
    width: 50%;
    height: 50px;
}

.buttons a {
    margin: auto;
    color: #fff;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    background: rgba(34, 61, 68, 0.75);
}

.buttons a:hover {
    background: rgba(39, 104, 112, 0.75);
    border: 1px solid rgb(28, 74, 80);
}

.buttons a.active {
    background: rgba(37, 68, 34, 0.863);
    color: white;
    border: 1px solid rgb(43, 136, 34);
}