html {
    height: 100%;
    background-image: url(./img/ff8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: cadetblue;
}

.spe {
    font-family: finalf;
    font-size: 80px;
    color: white;
    line-height: 81px;
    margin-top: 0;
}

@font-face {
    font-family: 'finalf';
    src: url('final_fantasy/FinalFantasyElements.TTF');
}

div.backgr {
    position: fixed;
    margin-top: 4%;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 1024px;
    background-color: #223d44;
    opacity: 0.8;
    border-radius: 40px;
}

nav {
    background-color: rgba(34, 61, 68, 0.4);
}

div.principale {
    position: fixed;
    margin-top: 4%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 1024px;
    /*  margin: 0;*/
    background-color: transparent;
    box-shadow: none;
}

div.card {
    background-color: transparent;
    color: white;
}

div.modeJeu, div#retour {
    background-color: #223d44;
    transition: 0.5s;
}

div.modeJeu:hover, div#retour:hover {
    transform: translateY(-5px);
    box-shadow: 0 3px 8px #000;
}

.noneLocal, .decknone, .noneIA{
  display: none;
}

#retour{
  position: relative;
  left: 48%;
  padding: 3px;
  width: 33px;
  bottom: 19px;
  display: none;
}


div.regle {
    background-color: #111f22;
    opacity: 0.8;
}

.p-regle {
    text-align: center;
}

@media only screen and (min-width: 993px) {
    .container {
        width: 85%;
    }
}
