.spe {
    font-family: finalf;
    font-size: 80px;
    color: white;
    line-height: 81px;
    margin-top: 0;
}

@font-face {
    font-family: 'finalf';
    src: url('final_fantasy/FinalFantasyElements.TTF');
}

nav {
    background-color: rgba(34, 61, 68, 0.4);
}

div.card {
    background-color: transparent;
    color: white;
}

div.principale {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1024px;
    /*  margin: 0;*/
    background: rgba(32, 58, 65, 0.8);
    box-shadow: none;
    border-radius: 40px;
}

div.modeJeu,
div#retour {
    background-color: #223d44;
    transition: 0.5s;
}

div.modeJeu:hover,
div#retour:hover {
    transform: translateY(-5px);
    box-shadow: 0 3px 8px #000;
}

.noneLocal,
.decknone,
.noneIA,
.noneMulti {
    display: none;
}

#retour {
    position: relative;
    left: 48%;
    padding: 3px;
    width: 42px;
    bottom: 19px;
    display: none;
}

div.regle {
    background-color: #111f22;
    opacity: 0.8;
    border-radius: 15px;
}

div#retour i {
    margin-top: 6px;
}

.p-regle {
    text-align: center;
}

@media only screen and (min-width: 993px) {
    .container {
        width: 85%;
    }
}