html {
  background-image: url(./img/ff8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

table {
  margin: 0px auto;
  margin-top: 10%;
  justify-content: center;
}

tbody {
  background-color: rgb(176, 190, 197, 0.3);
  border: 2px solid black;
}

tr, td {
  border: 1px solid black;
  width: 120px;
  height: 110px;
  padding: 0;
}

.last {
  margin-left: 15%;
  width: 65%;
}

.invi {
  visibility: hidden;
}

img {
  width: 100%;
  margin-right: 0;
}