html {
  background-image: url(./img/ff8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

table {
  margin: 0px auto;
  margin-top: 10%;
  justify-content: center;
}

tbody {
  background-color: rgba(176, 190, 197, 0.3);
  /* ancien blue grey*/
  border: 2px solid black;
}

tr, td {
  border: 1px solid black;
  width: 120px;
  height: 110px;
  padding: 0;
}

.invi {
  visibility: hidden;
}

img {
  width: 100px;
  height: 100px;
  margin-right: 0;
}

div {
  height: 105px;
}

.plateau {
  width: 318px;
  height: 333px;
  /*plateau 3*3 */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: 1px;
}

.case {
  background-color: rgba(55, 71, 79, 0.6);
  border: 2px solid rgba(20, 20, 20, 0.8);
}

.cards {
  margin-top: 10%;
  width: 318px;
  height: 109px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.cards1 {
  margin-top: 5%;
  margin-left: 18%;
  width: 211px;
  height: 109px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.case1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.case2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.case3 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.case4 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.case5 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.case6 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.case7 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
}

.case8 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}

.case9 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}